<%- include('index.ejs') %>
<title>Login</title>
</head>
<body>
  <div class="form-container">
    <a href="/">Home</a>
    <h2>Login</h2>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="identifier">Username or Email:</label>
        <input type="text" id="identifier" name="identifier" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
  </div>
</body>
</html>
